# global owner
@preethamr
/ops/ @carlomazzaferro @preethamr
/docker/ @carlomazzaferro @preethamr
/packages/adapters/ @preethamr @liu-zhipeng @wanglonghong
/packages/agents/ @preethamr @liu-zhipeng @wanglonghong
/packages/agents/sdk/ @just-a-node @prathmeshkhandelwal1
/packages/deployments/ @LayneHaber @liu-zhipeng @preethamr
/packages/examples/ @just-a-node @prathmeshkhandelwal1 @preethamr
/packages/integration/ @LayneHaber @preethamr @just-a-node
/packages/utils/ @preethamr @liu-zhipeng @wanglonghong @just-a-node