[submodule "packages/deployments/contracts/lib/forge-std"]
	path = packages/deployments/contracts/lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "packages/deployments/contracts/lib/openzeppelin-contracts-upgradeable"]
	path = packages/deployments/contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
