# If using yarn 2.x, remove these three lines to commit your dependencies to git.
.yarn/*
!.yarn/releases
!.yarn/plugins

_tmp
build
dist*
# lib*
coverage
node_modules*
*.tsBuildInfo

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output

npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.*.json

ops/data
**/*/.nyc_output/*
packages/router/config.json
