[submodule "packages/deployments/contracts/lib/forge-std"]
	path = packages/deployments/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/deployments/contracts/lib/openzeppelin-contracts-upgradeable"]
	path = packages/deployments/contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/Openzeppelin/openzeppelin-contracts-upgradeable
[submodule "packages/deployments/contracts/lib/openzeppelin-contracts"]
	path = packages/deployments/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/deployments/contracts/lib/ExcessivelySafeCall"]
	path = packages/deployments/contracts/lib/ExcessivelySafeCall
	url = https://github.com/nomad-xyz/ExcessivelySafeCall
[submodule "packages/deployments/contracts/lib/relay-context-contracts"]
	path = packages/deployments/contracts/lib/relay-context-contracts
	url = https://github.com/gelatodigital/relay-context-contracts
[submodule "packages/deployments/contracts/lib/solidity-stringutils"]
	path = packages/deployments/contracts/lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils