version: "3.3"

services:
  router:
    container_name: router
    depends_on:
      - sequencer
      - signer
    image: ${ROUTER_IMAGE}
    restart: always
    ports:
      - "8080:8080"
    logging:
      driver: json-file
      options:
        max-size: 10m
    volumes:
      - ${PWD}/docker/router/:/home/node/agents/sequencer/
      - ${PWD}/docker/router/config.local.json:/home/node/packages/agents/router/config.json
    environment:
      GRAPH_1337_ENDPOINT: "http://graph-node-1337:8000/subgraphs/name/connext/nxtp"
      GRAPH_1338_ENDPOINT: "http://graph-node-1338:8000/subgraphs/name/connext/nxtp"

  router-cache:
    container_name: router-cache
    image: redis:latest
    ports:
      - "6379:6379"

  sequencer:
    container_name: sequencer
    image: ${SEQUENCER_IMAGE}
    restart: always
    ports:
      - "8081:8081"
    logging:
      driver: json-file
      options:
        max-size: 10m
    volumes:
      - ${PWD}/docker/sequencer/:/home/node/agents/sequencer/
      - ${PWD}/docker/sequencer/config.local.json:/home/node/packages/agents/sequencer/config.json
    environment:
      GRAPH_1337_ENDPOINT: "http://graph-node-1337:8000/subgraphs/name/connext/nxtp"
      GRAPH_1338_ENDPOINT: "http://graph-node-1338:8000/subgraphs/name/connext/nxtp"
      SEQ_RELAYER_URL: "http://relayer:8082"
      
  relayer:
    container_name: relayer
    depends_on:
      - sequencer
    image: ${RELAYER_IMAGE}
    restart: always
    ports:
      - "8082:8080"
    logging:
      driver: json-file
      options:
        max-size: 10m
    volumes:
      - ${PWD}/docker/relayer/:/home/node/agents/relayer/
      - ${PWD}/docker/relayer/config.local.json:/home/node/packages/agents/relayer/config.json

  sequencer-cache:
    container_name: sequencer-cache
    image: redis:latest
    ports:
      - "6380:6379"

  signer:
    container_name: signer
    image: "ghcr.io/connext/web3signer:latest"
    restart: always
    ports:
      - "9000:9000"
    environment:
      - WEB3_SIGNER_PRIVATE_KEY=$WEB3_SIGNER_PRIVATE_KEY
      - WEB3SIGNER_HTTP_HOST_ALLOWLIST=*
    logging:
      driver: json-file
      options:
        max-size: 10m
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
